@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {

}
div[role=progress]{
  display: grid;
  place-items: center; 
}

div[role=progress]::after{
   content: '🎯';
   display: grid;
   place-items: center;
   background-color: white;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}


